/* Modal Box Styles */

.react-confirm-alert-overlay.rename .react-confirm-alert-body {
  width: 230px;
}

.react-confirm-alert-overlay.rename .react-confirm-alert-button-group {
  width: 257px;
}

.btn-danger {
  background: red !important;
}

code {
  background-color: #e0dede;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
  font-size: 13px;
}

react-confirm-alert-overlay.rename input[type="text"] {
  height: 30px;
  border: 1px solid rgb(143, 143, 143);
  width: 230px;
  padding: 5px 10px;
}

.pull-right {
  display: inline-block;
  margin: 0px auto;
}

.replace-folder-wrapper {
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  padding-top: 20px;

}

.divider {
  border: 0.5px solid #e4e4e4;
  width: 100%;
}
